@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,700;1,800;1,900&family=Roboto:wght@700&display=swap');

$fontRaleway: Raleway, sans-serif;
$fontRoboto: Roboto, sans-serif;

$baseBgColor: #afd7e0;
$bgColorYellow: #fff51f;
$iconsColor: #f8f8f8;
$menuFontColor: #333;
$menuFontColor2: #ffffff;
$menuBgColor: #26d2fc;
$productsFontColor: #707070;
$productsBgColor: #eaeaea;
$footerBgColor: #373737;
$instaBoxColor1: #3b5997;
$instaBoxColor2: #3fccfd;
$instaBoxColor3: #cb2027;
$productPriceOldColor: #e24602;

$pathHeaderBgImage: "../images";